language: rust
rust:
  - stable
  - nightly
matrix:
  include:
    - name: "Rust: Stable"
      os: linux
      dist: xenial
      rust: stable
      addons:
        apt:
          sources: [ubuntu-toolchain-r-test]
          packages: [g++-4.9]
      env: BUILD_MATRIX="CC=gcc-4.9 && CXX=g++-4.9"
    - name: "Rust: Nightly"
      os: linux
      dist: xenial
      rust: nightly
      addons:
        apt:
          sources: [ubuntu-toolchain-r-test]
          packages: [g++-4.9]
      env: BUILD_MATRIX="CC=gcc-4.9 && CXX=g++-4.9"
    - name: "OSX Stable"
      rust: stable
      os: osx
      osx_image: xcode9.4
      env: BUILD_MATRIX="BUILD_TYPE=Debug"
    - name: "OSX Nightly"
      rust: nightly
      os: osx
      osx_image: xcode9.4
      env: BUILD_MATRIX="BUILD_TYPE=Debug"
    - name: "Windows Stable"
      rust: stable
      os: windows
      env: BUILD_MATRIX="BUILD_TYPE=Debug" BUILD_TOOLCHAIN="Visual Studio 15 2017 Win64"
    - name: "Windows Nightly"
      rust: nightly
      os: windows
      env: BUILD_MATRIX="BUILD_TYPE=Debug" BUILD_TOOLCHAIN="Visual Studio 15 2017 Win64"
    - name: "rustfmt: Nightly"
      rust: nightly
      before_script:
        - rustup component add rustfmt
      script:
        - cargo fmt --all -- --check
  fast_finish: true
cache: cargo
branches:
  only:
    - master
    - staging
    - trying